{% extends "base.html" %}
{% import '_snippets.html' as snippets %}

{% block content %}
<!-- form class="form-horizontal dataset-search" autocomplete="off"
  method="GET" action="/search">
  <input type="text" name="q" placeholder="Search datasets" class="search-query js-dataset-query span5" autocomplete="off" />
</form-->

<div class="row">
  <div class="results span8">
    <!--h3>{{ total }} datasets found</h3-->
    {% for dataset in datasets %}
      {{ snippets.dataset_summary(dataset) }}
    {% endfor %}
  </div>
  <div class="span4">
    <div class="alert alert-success">
      <strong>Veuillez noter</strong> que nous sommes à un stade précoce de <strong>l'ajout des jeux de données</strong> toutes suggestions ou <strong><a href="/about/contribute#data">contributions sont les bienvenues &raquo;</a></strong>
    </div>
    <div class="row">
      <div class="span4">
        <h4>Qualité et fiabilité</h4>
        <p>Nous recherchons et normalisons des jeux de données tout en vérifiant leur qualité. <strong>
          Des ensembles de données clés comme les prix à la consommation, le PIB(le produit intérieur brut), la population</strong>, etc...</p> 
      </div>
      <div class="span4">
        <h4>Format Standard & Accès en masse</h4>
        <p>Tous les jeux de données sont fournis sous un format <strong>normalisé</strong>  
        et pouvant être consultés en <strong>masse au format CSV</strong> avec un schéma simplifier en <strong>JSON</strong>.</p>
      </div>
      <div class="span4">
        <h4>Versionné et empaqueté</h4>
        <p>Toutes les données sont dans des <strong>paquets de données</strong>
        et sont <strong>versionnées</strong> en utilisant git tous les changements sont 
        visibles et les données peuvent être <strong>maintenues en collaboration</strong>.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
