{% extends "base.html" %}

{% block content %}

<div class="hero-unit">
<div>
  <img src="img/logo.png" alt="" />
  <h1>
    Nous fournissons des données clés sur le Sénégal  
    <br />
    <small>
      Pour lutter contre la corruption et favoriser
      <br />
      l’engagement citoyen ainsi que la bonne gouvernance
    </small>
    <div class="buttons">
    <a href="/publish" class="btn btn-large btn-primary">Publier</a>
    <a href="/data" class="btn btn-large btn-success">Données</a>
    <a href="/about/contribute" class="btn btn-large">En savoir plus</a>
    </div>
  </h1>
</div>
</div>

<!--<div class="row">
  <div class="span8 offset2">
    <iframe src="https://docs.google.com/presentation/d/1oCGB0SipMvwFFWrRcyJXmvlY4mqewj-0mFnJgM44oQI/embed?start=false&loop=false&delayms=3000" frameborder="0" width="100%" height="564" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  </div>
</div>-->

<hr />

<h1 style="text-align: center;">
  Ce que nous faisons 
</h1>

<div class="row">
  <div class="span4">
    <h3>Normes &amp; Schémas</h3>
    <p>Un ensemble de normes et des schémas fournissant une structure de base des paquets de données sur laquelle l'outillage et de l'intégration est facile.</p>
    <p><a href="/standards" class="btn">En savoir plus &raquo;</a></p>
  </div>
  <div class="span4">
    <h3>Outillage &amp; Intégration</h3>
    <p>Mous facilitons l'utiliser et la publication des paquets de données à partir de vos applications et flux de travail que ce soit Excel, R,...</p>
    <p><a href="/tools" class="btn">En savoir plus &raquo;</a></p>
  </div>
  <div class="span4">
    <h3>Sensibilisation &amp; Communauté</h3>
    <p>Nous sensibilisons autour des concepts, des normes et de l'outillage. Travaillons à la construction d'une communauté d'utilisateurs et de contributeurs.</p>
    <p><a href="/about/contribute" class="btn">En savoir plus &raquo;</a></p>
  </div>
</div>

{% endblock %}
