@import url('http://okfnlabs.org/css/labs.css');

.navbar .brand {
  margin-top: 8px;
  color: #333;
  text-shadow: 0px 1px 0px #ffffff;
  font-size: 25px;
}

.navbar .nav {
  margin-top: 10px;
}

.okfn-ribbon a {
  height: 70px;
  background-position: center -30px;
}

blockquote p {
  font-size: 16px;
}

.well h3 {
  margin-top: 0;
}

footer {
  background-color: #f5f5f5;
  padding: 20px 20px 20px;
  margin: 15px -20px -20px;
  border-top: solid 1px #eee;
}

.footer_embed{
  margin: 0;
  padding: 0;
}

.footer_embed p{
  margin: 0;
  padding: 0;
}

.sign-up-top {
  display: none;
  background: #fcf8e3;
  padding: 8px;
  font-size: 16px;
  color: #c09853;
  text-align: center;
}

.sign-up-top form {
  margin-left: 10px;
  display: inline;
}

.feedback {
  position: fixed;
  right: 1px;
  top: 250px;
  width: 44px;
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg); 
  transform: rotate(90deg);
  z-index: 100;
}

.feedback a {
  color: #333;
  font-weight: bold;
  font-size: 28px;
  padding: 5px 10px;
  background-color: #f5f5f5;
  border: solid 1px #eee;
  border-top: none;
}

.feedback a:hover {
  text-decoration: none;
  background-color: #ddd;
}


/********************************************************************
  * Search Form
  *******************************************************************/

.dataset-search {
  margin: 20px 0 20px;
}

.dataset-search input {
  margin: auto;
  width: 500px;
  display: block;
}

/********************************************************************
  * Front page
  *******************************************************************/

.hero-unit div.buttons {
  margin-top: 30px;
}

.hero-unit div.buttons a {
  font-size: 30px;
}

.okfn-ribbon a {
    background-image: url("../../img/okf-ribbon.png");
    background-position: 0 -230px;
}

.btn-vert {
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #00853F;
  *background-color: #00853F;
  background-image: -moz-linear-gradient(top, #4CBA3D, #00853F);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4CBA3D), to(#00853F));
  background-image: -webkit-linear-gradient(top, #4CBA3D, #00853F);
  background-image: -o-linear-gradient(top, #4CBA3D, #00853F);
  background-image: linear-gradient(to bottom, #4CBA3D, #00853F);
  background-repeat: repeat-x;
  border-color: #00853F;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4CBA3D', endColorstr='#00853F', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-vert:hover,
.btn-vert:active,
.btn-vert.active,
.btn-vert.disabled,
.btn-vert[disabled] {
  color: #FFFFFF;
  background-color: #00853F;
  *background-color: #003bb3;
}

.btn-jaune {
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #D6CB2D;
  *background-color: #D6CB2D;
  background-image: -moz-linear-gradient(top, #FDEF42, #D6CB2D);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FDEF42), to(#D6CB2D));
  background-image: -webkit-linear-gradient(top, #FDEF42, #D6CB2D);
  background-image: -o-linear-gradient(top, #FDEF42, #D6CB2D);
  background-image: linear-gradient(to bottom, #FDEF42, #D6CB2D);
  background-repeat: repeat-x;
  border-color: #D6CB2D;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDEF42', endColorstr='#D6CB2D', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-jaune:hover,
.btn-jaune:active,
.btn-jaune.active,
.btn-jaune.disabled,
.btn-jaune[disabled] {
  color: #FFFFFF;
  background-color: #D6CB2D;
  *background-color: #003bb3;
}

.btn-rouge {
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #B50B10;
  *background-color: #B50B10;
  background-image: -moz-linear-gradient(top, #E31B23, #B50B10);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E31B23), to(#B50B10));
  background-image: -webkit-linear-gradient(top, #E31B23, #B50B10);
  background-image: -o-linear-gradient(top, #E31B23, #B50B10);
  background-image: linear-gradient(to bottom, #E31B23, #B50B10);
  background-repeat: repeat-x;
  border-color: #B50B10;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E31B23', endColorstr='#B50B10', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-rouge:hover,
.btn-rouge:active,
.btn-rouge.active,
.btn-rouge.disabled,
.btn-rouge[disabled] {
  color: #FFFFFF;
  background-color: #B50B10;
  *background-color: #003bb3;
}

/********************************************************************
  * Search Results
  *******************************************************************/

.search .sidebar h3:first-child {
  margin: 0;
  padding: 0;
  line-height: 1;
  text-align: right;
}

/********************************************************************
  * Dataset Summary
  *******************************************************************/

.dataset.summary {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: dotted 1px #ccc;
  font-size: 13px;
  line-height: 20px;
}

.dataset.summary .logo {
  width: 50px;
  float: right;
  margin-left: 5px;
}

.dataset.summary h3 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.8;
  font-weight: bold;
}

.dataset.summary h3 a {
}

.dataset.summary h3 a:hover {
  text-decoration: none;
}

.dataset.summary .description {
}

.dataset.summary .actions {
  margin: 5px 0px;
}

.dataset.summary .actions a {
  margin-right: 8px; 
}

.dataset.summary .source {
  font-style: italic;
}

.dataset ul.keywords {
  list-style-type: none;
  margin: 0;
}

.dataset ul.keywords li {
  display: inline;
  padding: 1px 4px 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 10.998px;
  font-weight: bold;
  line-height: 14px;
  color: white;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background: #55A1CE;
  margin-right: 3px;
}


/********************************************************************
  * Dataset Show
  *******************************************************************/

.dataset.show .logo {
  width: 100px;
  float: right;
  margin-left: 3px;
}

.dataset.show .source, .dataset.show .homepage {
  font-style: italic;
  font-size: 85%;
}

.dataset.show .actions {
  margin-top: 10px;
}

.dataset.show .sidebar .btn-group {
  margin-top: 10px;
}

.dataset.show .sidebar .btn-group .btn {
  font-size: 12px;
}

.resource-summary table {
  font-size: 13px;
}

.resource-summary table thead th {
  background-color: #ebebeb;
  background-image: -moz-linear-gradient(#fcfcfc, #ebebeb);
  background-image: -webkit-linear-gradient(#fcfcfc, #ebebeb);
  background-image: linear-gradient(#fcfcfc, #ebebeb);
  background-repeat: repeat-x;
}

.resource-summary table th,
.resource-summary table td
{
  padding: 2px 6px;
}

.dataset.show .viewer {
  margin-top: 20px;
}

.dataset.show .viewer .header {
  margin-bottom: 10px;
}

.dataset.show .viewer .recline-slickgrid {
  height: 400px;
}

.dataset.show .viewer .recline-pager {
  display: none;
}

.dataset.show .viewer .header .recline-results-info {
}

.recline-data-explorer .data-view-container {
  margin-right: 0;
}

.moreinfo {
  margin-top: 10px;
}

.readme {
  font-size: 16px;
}

.readme h2 {
  font-size: 22px;
}

.readme h3 {
  font-size: 20px;
}
