{% extends "base.html" %}

{% block content %}
<div class="hero-unit">
  <h1>
    Nous fournissons<br />
    des ensembles de <strong>données clés</strong>
    de <strong>grande qualité</strong>,
    <strong>sous format </strong> <strong><a href="http://opendefinition.org/okd/francais/" title="open data defined">Libre</a></strong> &amp; facile à utiliser
    <div class="buttons">
    <a href="/data" class="btn-vert btn-large btn-primary">Données &raquo;</a>
    <a href="/about/contribute" class="btn-jaune btn-large">Contribuer &raquo;</a>
    <a href="/about" class="btn-rouge btn-large">En savoir plus &raquo;</a>
    </div>
  </h1>
</div>

{% endblock %}
